@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/slate/bootswatch";
$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;

body {
    font: 100% $font-stack;
    background-color: $primary-color;
}

.logo {
    width:100px;
    height:auto;

}
