{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center my-3">
    <h1>Bienvenue sur mon Blog en Symfony</h1>
    </div>
    <div class="container justify-content-center text-center my-3">
        <div class="col-md-6 w-100 mx-auto my-2">
            <a class="btn btn-primary" role="button" href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
                Testing show() method from BlogController with a real article s slug.
            </a>
        </div>
        <div class="col-md-6 w-100 mx-auto my-2">
            <a class="btn btn-primary" role="button" href="{{ path('blog_index') }}">
                Testing index() method from BlogController to view all articles.
            </a>
        </div>
        <div class="col-md-6 w-100 mx-auto my-2">
            <a class="btn btn-primary" href="{{ path('blog_index') }}">
                Testing index() method from BlogController to view all articles.
            </a>
        </div>
        <div class="col-md-6 w-100 mx-auto my-2">
            <a class="btn btn-primary" href="{{ path('category_admin_index') }}">
                Administration des catégories
            </a>
        </div>
    </div>

{% endblock %}
