{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon Blog en Symfony</h1>
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <br>
    <a href="{{ path('blog_index') }}">
        Testing index() method from BlogController to view all articles.
    </a>

{% endblock %}
